<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horizontal Automatic Scroll - WebGL</title>
    <link rel="stylesheet" type="" href="/styles/index.scss" />
  </head>
  <body>
    <main class="demo-1">
      <div class="demo-navigation">
        <span>
          <a href="/">Home</a>
        </span>
        <span>
          <a href="/views/index2.html">Next Demo</a>
        </span>
      </div>

      <div class="demo-2__gallery">
        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/FvFuMR2XwAA-Xwi_zlxiri.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/FvFWliKXgAA1mRD_cjgoqb.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/billie-eilish_xom00f.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1662478147/all/cld-sample.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1662478148/all/cld-sample-3.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683041006/codepen/img/tiles/rocks/base_ul1akd.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683041006/codepen/img/tiles/snow/base_du1crw.jpg"
          />
        </figure>
      </div>
    </main>
    <script type="module" src="/app/pages/demo-2.js"></script>
  </body>
</html>
